<<<<<<< HEAD
#im1
{
  background-image:url(./campusece.jpg);
  position: absolute;
  background-repeat: no-repeat;
  height: 530px;
  width: 630px;
}

#im2 div
{
  background-image:url(./logo.jpg);
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
=======

img {
  background-image:url(./logo.jpg);
  background-repeat: no-repeat;
  top: 20px
}

img {
  background-image:url(./campusece.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  position: absolute;
>>>>>>> refs/remotes/origin/master
}
