
img {
  background-image:url(./logo.jpg);
  background-repeat: no-repeat;
  top: 20px;
}

img {
  background-image:url(./campusece.jpg);
  background-attachment:fixed;
  position: absolute;
  height: 850px;
}
