#foot footer {
position: absolute;
bottom: 0;
left: 0;
right: 0;
}

.p body
{
  position: relative;
  background-color: #FEFEE2;
}

.p h2
{
color: #256c89;
position: absolute;
font-family: "Times New Roman";
font-size: 20px;
right:200px;
top: 320px;
}


#im div
{
  top: 10px;
  width: 200px;
}

.p header
{
font-size: 100px;
color: white;
text-shadow: 8px 8px 12px black;
font-weight: bold;
background-color: gray;
display: flex;
}

.p h1{
font-size: 25px;
color: #256c89;
position: absolute;
right:150px;
top: 250px;
}

.identify input
{
	width: 300px;
	height: 30px;
	padding:5px 10px ;
	line-height: 0.5;
	background-color: white;
	-webkit-border-radius: 10px;
	border-radius: 20px;
}

/*.bordursid div {
position: relative;
height: 26px;
width: auto;
border-radius: 6px;
box-shadow: 3px 3px 6px -2px grey;
padding: 8px 0 0 20px;
margin: 0;
float: left;
line-height: 27px;*/



.identify fieldset
{
top:370px;
width:10px;
position: absolute;
left: 800px;
right:500px;
}

.menug fieldset
{
  width: 200px;
  height: 600px;
}

/*table input
{
  width: 200px;
	margin-top: 10px;
	padding: 10px 20px;
	line-height: 0.5;
  background-color: white;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}*/



.p p
{
  font-family: "Times New Roman";
  font-size: 20px;
}

.error {
	color: #FF0000;
}
input, textarea {
    text-align:center;
}
 
input:-moz-placeholder, textarea:-moz-placeholder {
    text-align:center;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    text-align:center;
}
 
input.placeholder, textarea.placeholder {
    text-align:center;
}
